body {
  margin: 0;
  font-family: 'Epilogue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway'), url(./assets/fonts/Raleway-Light.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway'), url(./assets/fonts/Raleway-Bold.ttf) format('truetype');
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}